<!DOCTYPE html>
<!-- This template was created by Casey Roosa ISM 5994 -->
<html lang="en">
<head>
    <title>Forward Fitness Club</title>
	<meta charset="utf-8">
</head>
<body>

    <div id="container">
	
	
    <!-- Use the header for website name or Logo -->
    <header>
	    <a href="index.html"><img src="images/ffc_logo.png" alt="Forward Fitness Club logo" height="275" width"845"></a>
	</header>
	
	<!-- Use the nav area to add hyperlinks to other pages within the website -->
	<nav>
	<a href="index.html">Home</a> &nbsp;&nbsp;
	<a href="about.html">About Us</a> &nbsp;&nbsp;
	<a href="class.html">Classes</a> &nbsp;&nbsp;
	<a href="nutrition.html">Nutrition</a> &nbsp;&nbsp;
	<a href="contact.html">Contact Us</a> &nbsp;&nbsp;
	</nav>
	
	<!-- Use the main area to add the main content of the webpage -->
	<main>
		<p> Welcome to Forward Fitness Club. Our mission is to help our clients achieve their fitness and nutrition goals! </p>
		
		<p> If you have ever had difficulties maintaining your physical health while at the same time sticking to a nutrition plan that is right for you, then you have come to the right place. Our facility offers personal trainers and specialized nutritionists who will work side by side with you along your journey.</p>
		
		<p> We offer a NO COST, one-month membership to allow you to experience the benefits that we have to offer. This one-month trial will let you work with a fellow personal trainer along with an experienced nutritionist. Contact us today for more information on our NO COST, one-month introductory membership! </p>
	
	
	</main>
	
	<!-- Use the footer for footer content -->
	<footer>
	&copy; Copyright 2015. All Rights Reserved. <br>
	<a href="mailto:forwardfitness@club.net">forwardfitness@club.net</a>
	</footer>

</body>
</html>